<% layout('layouts/boilerplate')%>
<h1>Register</h1>
<form action="/register" method="POST" novalidate class="needs-validation">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label><%//remember for of label and id of input must be same for em to get linked%>
   <input type="text" class="form-control" id="username" name="username" required></input>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label><%//remember for of label and id of input must be same for em to get linked%>
<input type="text" class="form-control" id="email" name="email" required></input>
</div>

<div class="mb-3">
    <label for="password" class="form-label">Password</label><%//remember for of label and id of input must be same for em to get linked%>
<input type="password" class="form-control" id="password" name="password" required></input>
</div>
<button class ="btn btn-success">Register</button>
  </form>